:root {
    --beige: #FEFBF0;
    --lightpink: #F9E1BD;
    --lightyellow: #FFD148;
    --darkyellow: #F4BA2A;
    --darkgreen: #345042;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}

#section1 {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(imgs/photos/about-background-photo.jpg);
    background-position: 0 25%;
    background-attachment: fixed;
    background-repeat: none;
}

#menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


ul {
    margin: 0;
    padding-top: 2vw;
    list-style: none;
}

li {
    color:#FFD148;
    font-family: 'Alice', serif;
    font-size: 20px;
    border-top: none;
    width:max-content;
    line-height: 1em;
    margin-bottom: 2vw;
}

a {
    text-decoration: none;
}

li:hover {
    border-top: solid 1px #F4BA2A;
    padding-top: 0;
}

#logo {
    width: 100px;
    margin-top: 1vw;
}

#basket {
    width: 70px;
    margin-top: 1vw;
    margin-right: 4vw;
}

#section1  h1 {
    color: #FFD148;
    font-family: 'Alice', serif;
    font-size: 120px;
    position: absolute;
    top: 30%;
    left: 29%;
}

#arrow-down {
    width: 100px;
    position: absolute;
    left: 47%;
    top: 85%;
}

#section2 {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pic1 {
    height: 90vh;
    width: auto;
}

#section2 h2 {
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 50px;
}

#section2 p {
    color: var(--darkgreen);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#section3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

#left-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    justify-content: space-evenly;
}

#section3 h2 {
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 70px;
}

#section3 p {
    color: var(--darkgreen);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#right-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

#timeline {
    height: 90vh;
    align-self: center;
}

#section4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

#section4 h2 {
    text-align: center;
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 50px;
    margin: 0;
}

#section4 hr {
    border: #FFD148 1px solid;
    width: 50vw;
    margin-bottom: 2vw;
}

#mission {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#mission img {
    width: 50vw;
    height: 80vh;
    object-fit: cover;
    object-position: 0 25%;
}

#mission p {
    color: var(--darkgreen);
    font-family: 'Open Sans', sans-serif;
}

#section5 {
    height: 100vh;
    width: 100vw;
}

#vision {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#vision img {
    width: 50vw;
    height: 80vh;
    object-fit: cover;
}

#vision p {
    color: var(--darkgreen);
    font-family: 'Open Sans', sans-serif;
}

#section6 {
    height: 100vh;
    width: 100vw;
}

#section6 h2 {
    text-align: center;
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 50px;
    margin: 0;
}

#section6 hr {
    border: #FFD148 1px solid;
    width: 50vw;
    margin-bottom: 2vw;
}

#production-consumption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10vw;
    row-gap: 2vw;
    margin-top: 5vw;
}

#section6 p {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

#production {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

#production-text {
    width: 50vw;
    padding-right: 10vw;
}

#production-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0vw;
    width: 30vw;
    padding-left: 10vw;
}


#production-title h3 {
    font-family: 'Alice', serif;
    color: var(--darkyellow);
    font-size: 30px;
    margin-top: 0vw;
}

#production-title img {
    width: 10vw;
}

#consumption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

#consumption-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 30vw;
    padding-right: 15vw;
    row-gap: 0vw;
}

#consumption-title h3 {
    font-family: 'Alice', serif;
    color: var(--darkyellow);
    font-size: 30px;
    margin-top: 0vw;
}

#consumption-title img {
    width: 10vw;
}

#consumption-text {
    width: 50vw;
    padding-left: 15vw;
}

#section7 {
    width: 100vw;
    height: 100vh;
}

#section7 h2 {
    text-align: center;
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 50px;
    margin: 0;
}

#section7 hr {
    border: #FFD148 1px solid;
    width: 50vw;
    margin-bottom: 2vw;
}

#wax-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

#section7 p {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

#wax-text img {
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    object-position: 0 80%;
}

#section8 {
    width: 100ww;
    height: 100vh;
}

#section8 h2 {
    text-align: center;
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 50px;
    margin: 0;   
}

#section8 hr {
    border: #FFD148 1px solid;
    width: 50vw;
    margin-bottom: 2vw;
}

#materials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 5vw;
}

#materials img {
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    margin-left: 2vw;
}

#materials-text {
    margin-right: 2vw;
}

#materials h3 {
    text-align: center;
    color: var(--darkyellow);
    font-family: 'Alice', serif;
    font-size: 30px;
}

#materials p {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

#section9 {
    width: 100vw;
    height: 100vh;
}

#practice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#practice img {
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    margin-right: 2vw;
}

#practice h3 {
    font-family: 'Alice', serif;
    color: var(--darkyellow);
    font-size: 30px;
    text-align: center;
}

#practice p {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

#practice-text {
    margin-left: 2vw;
}