/* color palette
yellow:#ffd148
light pink: #fefbf0
green: #345042
dark pink: #f9e1bd
*/

@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #fefbf0;
}
main {
  display: flex;
  justify-content: space-between;
}
.navcontainer {
  background-image: url("img/marcelo-rangel-CIDbwg8jsTM-unsplash.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  min-width: 30vw;
  min-height: 30vw;
}
.logo {
  position: absolute;
  width: 8vw;
  height: 8vw;
  left: 45%;
  padding: 0.5vw;
}
.step2 {
  width: 100%;
  padding: 5vw;
}
h1 {
  border-bottom: 3px solid #345042;
  margin: 2vw;
  font-family: alice;
  color: #345042;
  font-size: 3vw;
}

input,
label {
  padding: 0.8vw;
  border: transparent;
  border-radius: 5px;
  margin-right: 5vw;
  margin-left: 5vw;
  font-family: open sans, sans-serif;
  font-size: 1vw;
  color: #345042;
}
input:invalid {
  background-color: tomato;
}
input:valid {
  background-color: #fefbf0;
  border: #345042;
  /* border: 1px solid black; */
}
input:placeholder-shown {
  background-color: #fefbf0;
  /* border: 1px solid black; */
}
.customerdata,
.paymentdata {
  display: flex;
  flex-direction: column;
  background-color: #f9e1bd;
  max-width: 50vw;
  margin: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.btn {
  background: transparent;
  border: none;
  margin: 5vw auto 0;
  display: block;
  font-size: 2vw;
  position: relative;
  transition: 0.3s;
  padding: 10px;
  text-align: center;
  color: #ffd148;
  text-transform: uppercase;
  font-family: open sans, sans-serif;
}

.btn:before {
  content: "";
  border-top: 3px solid #ffd148;
  /* padding: 0 10px; -----maybe for phone */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
}
.btn:hover:before {
  width: 100%;
  padding: 0;
}
.btn:active {
  background: black;
  color: white;
  transition: none;
}
button {
  background: transparent;
  border: transparent;
  max-width: 20vw;
  position: relative;
  margin: 0 auto;
}
.submit {
  margin-left: 7vw;
  max-width: 100vw;
}
h3 {
  font-family: alice, serif;
  color: #345042;
  margin-left: 5vw;
}
.cards img {
  max-width: 4vw;
  margin: -1vw;
}
.cards {
  margin-left: 5vw;
  margin-bottom: 2vw;
  margin-top: 1vw;
}
/* -------------the final total card ---------- */
.productcontainer {
  display: flex;
  background-color: #f9e1bd;
  max-width: 50vw;
  margin: 2vw;
}
.productimg {
  max-width: 50%;
  padding: 3vw;
  max-height: 100%;
}
.infoproduct {
  padding-top: 3vw;
}
.name,
.price,
.infoproduct label,
.totalcontainer h2,
.totalcontainer h3,
.totalcontainer label,
.quantity {
  font-family: open sans;
  color: #345042;
}
.name,
.totalcontainer h2 {
  font-size: 2vw;
}
.totalcontainer h3,
.price,
.infoproduct label,
.quantity {
  font-size: 1.5vw;
}
.name,
.price {
  padding-bottom: 1vw;
}
.quantity {
  margin-top: 1vw;
}
.totalcontainer label {
  font-size: 1.3vw;
}
.totalcontainer {
  background-color: #f9e1bd;
  padding: 3vw;
  margin: 2vw;
}
.totalprice {
  border-top: 3px solid #345042;
  margin-top: 2vw;
}
.subtotalprice {
  padding-top: 2vw;
}
.finaltotal {
  max-width: 40vw;
}
.forms {
  width: 60vw;
}
#termscond {
  margin: -5vw;
  font-size: 1vw;
}
#terms {
  margin-left: 0;
}
.clicks {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 6vw;
  padding-right: 11vw;
  top: 36vw;
}
.first,
.second,
.third {
  width: 5vw;
  height: 5vw;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .logo {
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 45%;
    padding: 0.5vw;
  }

  .clicks {
    top: 67vw;
  }
  .navcontainer {
    min-height: 60vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2,
  h3,
  .name,
  .quantity {
    font-size: 3vw;
  }
  .price {
    font-size: 2vw;
  }

  .btn {
    font-size: 3vw;
    padding: 2px;
    margin-left: -4vw;
  }
  .cards img {
    min-width: 8vw;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .forms,
  .finaltotal {
    margin: 0 auto;
  }
  .finaltotal {
    min-width: 55vw;
  }
  .firstform,
  .secondform {
    width: 90%;
  }
  .totalcontainer {
    max-width: 50vw;
    margin-left: 0;
  }
  .productcontainer {
    margin-left: 0;
  }
  .finaltotal h1 {
    margin-left: 0;
    max-width: 50vw;
  }
  label {
    font-size: 3vw;
  }
  input {
    font-size: 2vw;
  }
  .btn {
    font-size: 3vw;
    min-width: 40vw;
    padding: 2px;
    margin-left: -4vw;
  }
  .btn1,
  .btn2 {
    margin-left: -10vw;
    max-width: 100vw;
  }
}
/*----------- footer --------- */
footer {
  position: relative;
  width: 100%;
  margin-top: 0;
  background-color: #f9e1bd;
  padding: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer .info {
  display: flex;
  padding: 1vw;
  margin-top: 0;
  margin-left: 5vw;
}
footer .links1,
footer .links2,
footer .links3,
footer .links4 {
  padding: 1vw;
  width: 34%;
}
footer a {
  display: block;
  font-size: 1.4vw;
  font-family: "Opens Sans", sans-serif;
  color: #345042;
}

.cardsf {
  display: flex;
  position: relative;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-left: 20vw;
  margin-top: 3vw;
}
footer img {
  width: 3vw;
  padding: 0.2vw;
}
.copyright {
  margin-left: 28vw;
  color: #345042;
  font-family: open sans;
}
.logo {
  visibility: hidden;
}
@media screen and (max-width: 800px) {
  footer {
    position: relative;
    width: 100%;
    margin-top: 0;
    background-color: #f9e1bd;
    padding: 0;
    margin-bottom: 0;
  }
  footer .info {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin-top: 0;
    margin-left: 5vw;
  }
  .logo {
    visibility: visible;
    position: absolute;
    top: 20vw;
    left: 65vw;
  }

  .logo img {
    width: 20vw;
    height: 20vw;
  }

  footer a {
    font-size: 2.6vw;
    display: block;
  }

  footer img {
    width: 4vw;
    padding: 0.5vw;
  }
  .copyright {
    margin-left: 15vw;
    font-size: 2vw;
  }
  .social-media {
    display: flex;
    justify-content: center;
    margin-left: 70vw;
    margin-top: 19vw;
  }

  .cardsf {
    display: flex;
    position: relative;
  }
}
/*------------- nav ------------- */
.nav-checkout {
  background-image: url("/img/marcelo-rangel-CIDbwg8jsTM-unsplash.jpg");
  position: relative;
  background-position: bottom;
  background-size: cover;
  min-width: 30vw;
  min-height: 30vw;
}
nav li {
  color: #ffd148;
  font-family: "Alice", serif;
  font-size: 20px;
  border-top: none;
  width: max-content;
  line-height: 1em;
  margin-bottom: 2vw;
}

a {
  text-decoration: none;
}

nav li:hover {
  border-top: solid 1px #f4ba2a;
  padding-top: 0;
}

#logonav {
  width: 100px;
  margin-top: 0vw;

  position: absolute;
  width: 9vw;
  height: 15vw;
  left: 45%;
  padding: 0.5vw;
}

#part1 h1 {
  color: #ffd148;
  font-family: "Alice", serif;
  font-size: 13vw;
  position: absolute;
  top: 30%;
  left: 32%;
  border: transparent;
}
.box3 {
  position: absolute;
  top: 15%;
  left: 92%;
  transform: translate(-50%, -50%);
  width: 5vw;
  height: 5vw;
}
.header-nav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
}

.header-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffd148;
  display: block;
}

.menulink {
  background: transparent;
  border: none;
  display: block;
  font-size: 2vw;
  position: relative;
  transition: 0.3s;
  color: #ffd148;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 8vw;
  margin-left: 1vw;
}

.menulink:before {
  content: "";
  border-top: 3px solid #ffd148;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
  max-width: 9vw;
}
.menulink:hover:before {
  width: 100%;
  padding: 0;
}
.menulink:active {
  background: black;
  color: white;
  transition: none;
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .nav-checkout {
    background-image: url("/img/marcelo-rangel-CIDbwg8jsTM-unsplash.jpg");
    position: relative;
    background-position: bottom;
    background-size: cover;
    min-width: 60vw;
    min-height: 60vw;
  }

  .logonav {
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 45%;
    padding: 0.5vw;
  }
  #part1 h1 {
    border: transparent;
    top: 70%;
  }

  .box3 {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
  }
  .nav-toggle {
    background: transparent;
    border: transparent;
    height: 2vw;
    width: 2vw;
  }
  .hamburger-container {
    height: 7vw;
  }
  .header-nav {
    max-height: 100%;
    max-width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10vw;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .nav-toggle img {
    width: 7vw;
    height: 6vw;
    margin-left: 2.7vw;
  }
  .nav-categories {
    height: 0;
    display: none;
  }
  .show-categories {
    display: inline;
    height: 20rem;
  }
  .show-categories a {
    font-size: 4vw;
    margin-left: 13vw;
  }
  .menulink:before {
    border-top: none;
  }
}
