:root {
    --beige: #FEFBF0;
    --lightpink: #F9E1BD;
    --lightyellow: #FFD148;
    --darkyellow: #F4BA2A;
    --darkgreen: #345042;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}

#section1 {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(imgs/photos/guide-bg.png);
    background-position: 10% 89%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
}

.header-nav {
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .header-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd148;
    display: block;
    font-family: 'Alice', serif;
    text-align: center;
  }
  
  .menulink {
    background: transparent;
    border: none;
    display: block;
    font-size: 2vw;
    position: relative;
    transition: 0.3s;
    color: #ffd148;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 5.5vw;
    margin-left: 1vw;
  }
  
  .menulink:before {
    content: "";
    border-top: 3px solid #ffd148;
    /* padding: 0 10px; -----maybe for phone */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
    max-width: 9vw;
  }
  .menulink:hover:before {
    width: 100%;
    padding: 0;
  }
  .menulink:active {
    background: black;
    color: white;
    transition: none;
  }
  @media screen and (min-width: 800px) {
    .nav-toggle {
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    .nav-toggle {
      background: transparent;
      border: transparent;
      height: 2vw;
      width: 2vw;
    }
    .haburger-container {
      height: 7vw;
    }
    .nav-toggle img {
      width: 7vw;
      height: 6vw;
      margin-left: 2.7vw;
    }
    .nav-categories {
      height: 0;
      display: none;
    }
    .show-categories {
      display: inline;
      flex-direction: column;
      height: 20rem;
    }
    .menulink:before {
      border-top: none;
    }
  }

#menu {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 100px;
    margin-top: 1vw;
    padding-left: 5vw;
}

#basket {
    width: 70px;
    margin-top: -1vw;
    padding-right: 2vw;
}

#section1  h1 {
    color: #FFD148;
    font-family: 'Alice', serif;
    font-size: 120px;
    position: absolute;
    top: 38%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

#arrow-down {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 85%;
    margin-left: -50px;
    transition: 0.3s;
}

#arrow-down:hover {
    transform: translateY(1em);
}

#section2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

h2 {
    font-family: 'Alice', serif;
    font-size: 50px;
    color: var(--darkyellow);
    text-align: center;
    margin-bottom: 0;
}

#video {
    width: 75vw;
    height: 75vh;
    background-color: var(--lightpink);
    margin: auto;
}

#section3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section3 p {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

#step1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5vw;
}

#step1 img {
    width: 150px;
}

#step2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5vw;
}

#step2 img {
    width: 150px;
}

#step3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5vw;
}

#step3 img {
    width: 150px;
}

#section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h3 {
    font-family: 'Alice', serif;
    color: var(--darkgreen);
    font-size: 40px;
}


#before {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#before-img {
    width: 500px;
    height: 500px;
    background-color: var(--lightpink);
}

#after {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#after-img {
    width: 500px;
    height: 500px;
    background-color: var(--lightpink);
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #section1 {
        background-size: cover;
        background-position: 70% 0%;
    }

    #section1 h1 {
        font-size: 100px;
        left: 50%;
        top: 50%;
        width: 300px;
        margin-left: -150px;
    }

    #arrow-down {
        width: 8vw;
        margin-left: -4vw;
        left: 50%;
    }

    #logo {
        width: 13vw;
        padding-left: 10vw;
    }

    #basket {
        padding-right: 4vw;
        width: 10vw;
        margin-top: -1vw;
    }

    #section3 img {
        width: 20vw;
    }

    #section3 p {
        font-size: 12px;
        width: 60vw;
    }

    #section4 h3 {
        font-size: 25px;
    }

    #before-img, #after-img {
        width: 45vw;
        height: 50vh;
    }

    #after-img {
        margin-right: 4vw;
    }
}

@media only screen and (max-width: 480px) {

    #section1 {
        background-size: cover;
        background-position: 50% 0%;
        width: 100vw;
        height: 100vh;
    }

    #logo {
        width: 20vw;
        padding-left: 15vw;
    }

    #basket {
        width: 15vw;
        margin: 0;
    }

    #section1 h1 {
        font-size: 50px;
        top: 80%;
        left: 50%;
        width: 42vw;
        margin-left: -21vw;
    }

    #arrow-down {
        width: 8vw;
        top: 95%;
        left: 50%;
        margin-left: -4vw;
    }

    #section2 h2 {
        padding-top: 5vw;
    }

    #video {
        height: 50vh;
    }

    #section3 img {
        width: 30vw;
    }

    #section3 p {
        width: 50vw;
        font-size: 12px;
    }

    #section4 {
        flex-direction: column;
    }

    #section4 h3 {
        font-size: 25px;
    }

    #before-img, #after-img {
        width: 80vw;
        height: 30vh;
    }
}

/*footer*/

footer {
    position: relative;
    top: 3vw;
    width: 100vw;
    margin: 0;
    background-color: #f9e1bd;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  footer .info {
    display: flex;
    padding: 1vw;
    margin-top: 0;
    margin-left: 5vw;
  }
  footer .links1,
  footer .links2,
  footer .links3,
  footer .links4 {
    padding: 1vw;
    width: 34%;
  }
  footer a {
    display: block;
    font-size: 1.4vw;
    font-family: "Opens Sans", sans-serif;
    color: #345042;
  }
  
  .cards {
    display: flex;
    position: relative;
  }
  .social-media {
    display: flex;
    justify-content: center;
    margin-left: 20vw;
    margin-top: 3vw;
  }
  footer img {
    width: 3vw;
    padding: 0.2vw;
  }
  .copyright {
    margin-left: 28vw;
    color: #345042;
  }
  .logo {
    visibility: hidden;
  }

  .copyright {
    font-family: 'Open Sans', sans-serif;
}

  @media screen and (max-width: 800px) {
    footer {
      position: relative;
      top: 0vw;
      width: 100%;
      margin-top: 0;
      background-color: #f9e1bd;
      padding: 0;
      margin-bottom: 0;
    }
    footer .info {
      display: flex;
      flex-direction: column;
      padding: 1vw;
      margin-top: 0;
      margin-left: 5vw;
    }
    .logo {
      visibility: visible;
      position: absolute;
      top: 20vw;
      left: 65vw;
    }
  
    .logo img {
      width: 20vw;
      height: 20vw;
    }
  
    footer a {
      font-size: 2.6vw;
      display: block;
    }
  
    footer img {
      width: 4vw;
      padding: 0.5vw;
    }
    .copyright {
      margin-left: 15vw;
      font-size: 2vw;
    }
    .social-media {
      display: flex;
      justify-content: center;
      margin-left: 70vw;
      margin-top: 19vw;
    }
  
    .cards {
      display: flex;
      position: relative;
    }
  }