/*colours
    color: #FFD148; - main colour
    colour: #345042 - paragraph colour
    colour: #FEFBF0 - background colour

    */

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-right: 0;
  background-color: #fefbf0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.bg-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 {
  background-image: url(/img/mainpic.jpg);
  min-height: 100%;
}

.img2 {
  background-image: url(/img/joeyy-lee-BVQjyuTP1Ho-unsplash.jpg);
  min-height: 100%;
}

.box1 {
  position: absolute;
  top: 9%;
  left: 29%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 10px;
}
.box1 img {
  width: 45vw;
  height: 45vw;
}
.box2 {
  position: absolute;
  top: 160%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  font-family: "Alice", serif;
  font-size: 45px;
  color: #ffd148;
}
.box3 {
  position: absolute;
  top: 2%;
  left: 97%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
}

/*NAVIGATION*/
.header-nav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
}

.header-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffd148;
  display: block;
}

.menulink {
  background: transparent;
  border: none;
  display: block;
  font-size: 2vw;
  position: relative;
  transition: 0.3s;
  color: #ffd148;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 5.5vw;
  margin-left: 1vw;
}

.menulink:before {
  content: "";
  border-top: 3px solid #ffd148;
  /* padding: 0 10px; -----maybe for phone */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
  max-width: 9vw;
}
.menulink:hover:before {
  width: 100%;
  padding: 0;
}
.menulink:active {
  color: white;
  transition: none;
}
@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .nav-toggle {
    background: transparent;
    border: transparent;
    height: 2vw;
    width: 2vw;
  }
  .haburger-container {
    height: 7vw;
  }
  .nav-toggle img {
    width: 7vw;
    height: 6vw;
    margin-left: 2.7vw;
  }
  .nav-categories {
    height: 0;
    display: none;
  }
  .show-categories {
    display: inline;
    flex-direction: column;
    height: 20rem;
  }
  .menulink:before {
    border-top: none;
  }
}

/*show your art section*/

h1 {
  text-align: center;
  font-family: "Alice", serif;
  font-size: 45px;
  color: #f4ba2a;
  margin-top: 60px;
}

.art {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #345042;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column img {
  height: 60vh;
  object-fit: cover;
  object-position: 0% 90%;
}

.btn {
  background: transparent;
  border: none;
  margin: 5vw auto 0;
  display: block;
  font-size: 2vw;
  position: relative;
  transition: 0.3s;
  padding: 0;
  text-align: center;
  color: #f4ba2a;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.btn:before {
  content: "";
  border-top: 3px solid #ffd148;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
  max-width: 10vw;
}
.btn:hover:before {
  width: 100%;
  padding: 0;
}
.btn:active {
  background: #345042;
  color: white;
  transition: none;
}

.btn1 {
  margin-top: 1vw;
  margin-left: 87vw;
  max-width: 20vw;
  max-height: 20vw;
}

/* instagram slideshow*/
.container {
  position: absolute;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  margin-top: 6vw;
  margin-left: 35vw;
  height: 38vw;
  width: 30vw;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #345042;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 3 columns side by side */
.column2 {
  float: left;
  flex: 20%;
  padding: 5px;
  visibility: hidden;
}

.active,
.demo:hover {
  opacity: 1;
}
/*newsletter*/

.newsletter {
  position: absolute;
  top: 160vw;
}
#box {
  height: 120vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 10vw;
  background-color: #f9e1bd;
}

#newsletter-title {
  position: relative;
  top: 70vw;
}

#newsletter-title h1 {
  position: relative;
  left: 2.5vw;
  top: 5vw;
  font-family: "Alice", serif;
  font-size: 13vw;
  color: #345042;
  z-index: 1;
  font-weight: 800;
}

#newsletter-photo {
  position: relative;
  width: 25vw;
  z-index: 1;
  left: 15vw;
  top: 69vw;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#theform {
  text-align: center;
}

#theform label,
#theform input {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #345042;
  z-index: 1;
  font-size: 2vw;
}

#theform input {
  border-radius: 20px;
  border-color: #f9e1bd;
}

#name-label,
#name {
  right: -36vw;
  top: 40vw;
}

#email-label,
#email {
  right: -6.6vw;
  top: 45vw;
}

#button {
  background-color: transparent;
  color: #345042;
  font-family: "Open sans", sans-serif;
  font-size: 2vw;
  padding: 7px 7px;
  position: relative;
  z-index: 1;
  right: 12vw;
  top: 60vw;
}
.description {
  position: absolute;
  top: 140vw;
  left: 30vw;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #345042;
}
/*footer*/

footer {
  position: absolute;
  top: 320vw;
  width: 100%;
  margin-top: 0;
  background-color: #f9e1bd;
  padding: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer .info {
  display: flex;
  padding: 1vw;
  margin-top: 0;
  margin-left: 5vw;
}
footer .links1,
footer .links2,
footer .links3,
footer .links4 {
  padding: 1vw;
  width: 34%;
}
footer a {
  display: block;
  font-size: 1.4vw;
  font-family: "Opens Sans", sans-serif;
  color: #345042;
}

.cards {
  display: flex;
  position: relative;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-left: 20vw;
  margin-top: 3vw;
}
footer img {
  width: 3vw;
  padding: 0.2vw;
}
.copyright {
  margin-left: 28vw;
  color: #345042;
  font-family: "Open Sans", sans-serif;
}
.logo {
  visibility: hidden;
}
@media screen and (max-width: 800px) {
  footer {
    position: absolute;
    top: 840vw;
    width: 100%;
    margin-top: 0;
    background-color: #f9e1bd;
    padding: 0;
    margin-bottom: 0;
  }
  footer .info {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin-top: 0;
    margin-left: 5vw;
  }
  .logo {
    visibility: visible;
    position: absolute;
    top: 20vw;
    left: 65vw;
  }

  .logo img {
    width: 20vw;
    height: 20vw;
  }

  footer a {
    font-size: 2.6vw;
    display: block;
  }

  footer img {
    width: 4vw;
    padding: 0.5vw;
  }
  .copyright {
    margin-left: 15vw;
    font-size: 2vw;
  }
  .social-media {
    display: flex;
    justify-content: center;
    margin-left: 70vw;
    margin-top: 19vw;
  }

  .cards {
    display: flex;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  img1,
  .img2 {
    background-attachment: scroll;
    max-width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .bg-image {
    /* Full height */
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
  .box1 {
    position: absolute;
    top: 40%;
    left: 27%;
    width: 5vw;
    height: 10vw;
  }
  .box1 img {
    width: 50vw;
    height: 50vw;
  }
  .box2 {
    position: absolute;
    top: 140%;
    left: 93%;
    transform: translate(-100%, -30%);
    width: 100px;
    font-family: "Alice", serif;
    font-size: 30px;
    color: #ffd148;
    text-align: center;
  }

  .box3 {
    position: absolute;
    top: 3%;
    left: 97%;
    transform: translate(-100%, -30%);
    width: 50px;
    margin: 0;
  }

  .newsletter {
    position: absolute;
    top: 310vw;
  }

  #box {
    position: absolute;
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 2vw;
    background-color: #f9e1bd;
    top: 420vw;
  }
  #newsletter-title h1 {
    left: 9vw;
    top: 340vw;
  }

  #newsletter-photo {
    position: relative;
    width: 25vw;
    z-index: 1;
    left: 14vw;
    top: 410vw;
  }

  #theform {
    text-align: center;
  }

  #theform label,
  #theform input {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #345042;
    z-index: 1;
    font-size: 2vw;
  }

  #theform input {
    border-radius: 20px;
    border-color: #f9e1bd;
  }

  #name-label,
  #name {
    right: -50vw;
    top: 380vw;
  }

  #email-label,
  #email {
    right: -19.6vw;
    top: 385vw;
  }

  #button {
    background-color: transparent;
    color: #345042;
    font-family: "Open sans", sans-serif;
    font-size: 2vw;
    padding: 7px 7px;
    position: relative;
    z-index: 1;
    right: -6vw;
    top: 400vw;
  }

  btn {
    background: transparent;
    border: none;
    margin: 5vw auto 0;
    display: block;
    font-size: 40vw;
    position: relative;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
    color: #f4ba2a;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
  }

  .btn:before {
    content: "";
    border-top: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
    max-width: 12vw;
  }
  .btn:hover:before {
    width: 100%;
    padding: 0;
  }
  .btn:active {
    background: #345042;
    color: white;
    transition: none;
  }
  .btn1 {
    margin-top: 205vw;
    margin-left: 77vw;
    max-width: 20vw;
  }
  .art {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #345042;
  }
  .description {
    position: absolute;
    top: 495vw;
    left: 25vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #345042;
    z-index: 20;
  }

  .column2 {
    float: left;
    width: 16.66%;
    visibility: hidden;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 24vw;
  }
  .title {
    position: absolute;
    top: 620vw;
    z-index: 90;
  }
  .container {
    position: absolute;
    z-index: 600;
    top: 660vw;
  }
}
