/*colours
    color: #FFD148; - main colour
    colour: #345042 - paragraph colour
    colour: #FEFBF0 - background colour

    */

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-right: 0;
  background-color: #fefbf0;
}

.bg-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 {
  background-image: url(/img/mainpic.jpg);
  min-height: 100%;
}

.img2 {
  background-image: url(/img/joeyy-lee-BVQjyuTP1Ho-unsplash.jpg);
  min-height: 100%;
}

.box1 {
  position: absolute;
  top: 2%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
}

.box2 {
  position: absolute;
  top: 160%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  font-family: "Alice", serif;
  font-size: 45px;
  color: #ffd148;
}
/*show your art section*/

h1 {
  text-align: center;
  font-family: "Alice", serif;
  font-size: 45px;
  color: #ffd148;
  margin-top: 60px;
}

.art {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #345042;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.btn {
  background: transparent;
  border: none;
  margin: 5vw auto 0;
  display: block;
  font-size: 2vw;
  position: relative;
  transition: 0.3s;
  padding: 10px;
  text-align: center;
  color: #ffd148;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.btn:before {
  content: "";
  border-top: 3px solid #ffd148;
  /* padding: 0 10px; -----maybe for phone */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
  max-width: 12vw;
}
.btn:hover:before {
  width: 100%;
  padding: 0;
}
.btn:active {
  background: black;
  color: white;
  transition: none;
}
.btn1 {
  margin-top: 1vw;
  margin-left: 77vw;
  max-width: 20vw;
}

/* instagram slideshow*/
.hi-slide {
  position: relative;
  width: 754px;
  height: 292px;
  margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #fefbf0;
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1;
  background-color: #fefbf0;
}

.hi-slide .hi-prev {
  left: -100px;
}

.hi-slide .hi-prev::before {
  content: "<";
  color: #345042;
}

.hi-slide .hi-next {
  right: -100px;
}

.hi-slide .hi-next::before {
  content: ">";
  color: #345042;
}
.hi-slide > ul {
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;
}
.hi-slide > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin: 0;
  border: 1px solid #ffd148 ;
  background-color: #333;
  cursor: pointer;
}
.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}

/*newsletter*/

.newsletter {
    position: relative;
    top: -70vw;
}

#box {
    height: 120vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vw;
    background-color: #f9e1bd
}

#newsletter-title {
    position: relative;
    top: 70vw;

}

#newsletter-title h1 {
    position: relative;
    left: 1vw;
    top: 5vw;
    font-family: 'Alice', serif;
    font-size: 13vw;
    color:#345042;
    z-index: 1;
    font-weight: 800;
}

#newsletter-photo {
    position: relative;
    width: 25vw;
    z-index: 1;
    left: 18vw;
    top: 72vw;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}


#newsletter h3 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;
    right: 19vw;
    top: 78vw;
    z-index: 1;
    font-size: 2.2vw;
}

.hidden {
    visibility: hidden;
    display: none;
}

#theform {
    text-align:center;
}

#theform label, #theform input {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #345042;
    z-index: 1;
    font-size: 2vw;
}

#theform input {
    border-radius: 20px;
    border-color: #f9e1bd;
}

#name-label, #name {
    right: -35vw;
    top: 45vw;
}

#email-label, #email {
    right: -6vw;
    top: 50vw;
}

#button {
    background-color: transparent;
    color:  #345042;
    font-family: 'Open sans', sans-serif;
    font-size: 2vw;
    padding: 7px 7px;
    position: relative;
    z-index: 1;
    right: 1vw;
    top: 60vw;
}
